  .nav-bar {
    height: 30px; 
    background-color: #ffffff; 
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 0 20px; 
  }
  
  .nav-right {
    display: flex;
    align-items: center;
    gap: 32px; 
    margin-right: 155px; 
  }
  
  .nav-button {
    background-color: transparent; 
    color: #FC6E3E; 
    border: none; 
    font-size: 14px;
    cursor: pointer; 
    transition: color 0.3s ease; 
    font-size: 15px;
    font-weight: 200;
  }
  
  .nav-button:hover {
    color: #FFDA00; 
  }

  .nav-logo {
    width: 33px; 
    height: 20px; 
  }

  @media (max-width: 700px) {
    .nav-bar {
      display: none;
    }
    
  }
  